.Navbar{
    background-color: FFFFFF;
    height: 70px;
    width: 100%;
    display: flex; 
}

.Navbar .leftNav{
    flex: 10%;
    text-align: center;
    justify-content: center;
}

.Navbar .middleNav{
    flex: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middleNav input{
    height: 50px;
    width: 67vw;
    margin: 20px;
    border-radius: 8px;
    padding-left: 15px;
    border-color: rgb(221, 217, 217);
}

.Navbar .rightNav{
    flex: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Navbar .rightNav .links{
    max-height: 80px;
}

.Navbar .rightNav .links a{
    margin: 20px;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 600;
}

.rightNav button{
    display: none;
    margin-right: 20px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}

.Navbar .rightNav #hidden{
    display: flex;
}

.UserIcon{
    height: 30px;
    width: 30px;
    color: grey;
}

.collapseButton{
    height: 30px;
    width: 30px;
    color: grey;
}

.Navbar .leftNav .logo{
    height: 25px;
    padding-top: 25px;
    margin-left: 10px;

}



@media only screen and (max-width: 1200px){
    .Navbar .rightNav .links a{
        font-size: medium;
    }

    .UserIcon{
        height: 20px;
        width: 20px;
        color: grey;
    }
    
}

@media only screen and (max-width: 991px){
    .rightNav .links {
        display: none;
    }

    .rightNav button{
        display: flex;
    }

    .Navbar .rightNav #hidden{
        position: absolute;
        right: 0px;
        top: 80px;
        height: 100%;
        max-height: max-content;
        width: 100%;
        flex-direction: column;
        background-color: white;
    }

    .Navbar .rightNav #hidden a{
        font-size: xx-large;
    }

    .Navbar .rightNav #hidden .UserIcon{
        font-size: xx-large;
        display: none;
    }


}